@{
    ViewData["Title"] = "Contact";
}
<h2>Office</h2>

<hr/>
<row>
    <div class="col-md-6">
        <ul>
            <li>Workshop</li>
            <li>Hangar</li>
        </ul>
    </div>
    <div class="col-md-6">

    </div>
</row>