@{
    ViewData["Title"] = "Contact";
}
<h2>Office</h2>

<hr />
<div class="row">
    <div class="col-md-6">
        <ul>
            <li>Workshop</li>
            <li>Hangar</li>
        </ul>
    </div>
    <div class="col-md-6">

    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <img src="~/images/rotor.png" />
    </div>
    <div class="col-md-4">
        Front MountPoint
    </div>
    <div class="col-md-4">
        <img src="~/images/rotor.png" />
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        Offside MtPoint
    </div>
    <div class="col-md-4">
        Innter MtPoint
    </div>
    <div class="col-md-4">
        Nearside MtPoint
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <img src="~/images/rotor.png" />
    </div>
    <div class="col-md-4">
        Rear MountPoint
    </div>
    <div class="col-md-4">
        <img src="~/images/rotor.png" />
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        Cargo 1
    </div>
    <div class="col-md-4">
        Lower Turret
    </div>
    <div class="col-md-4">
        Upper Turret
    </div>
</div>